

.table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border: 3px solid purple;
  background-color: #f8e7f2;
}

.Puntitos{
  list-style: none;
}



.Item:hover{
  background-color: #e2dee1;
  cursor: pointer;
}


