.Landing {
  background-image: url("https://assets.pokemon.com//assets/cms2-es-es/img/misc/virtual-backgrounds/sword-shield/pokemon-in-the-wild.png");
  background-size: cover;
  height: 100vh
}

.Title {
  margin-top: 0
}
